@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{box-sizing: border-box; margin:0; padding:0; font-family: 'Roboto', sans-serif;}
a{color: inherit; text-decoration: none; cursor: pointer;}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 34px 4%;
}

.b-main {
    margin: 60px 20% 80px 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.b-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    grid-gap: 30px;
    width: 100%;
}

.b-m-photo-container {
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    width: 100%;
}

.b-images img {
    width: 100%;
}

@media screen and (max-width: 1920px) {
    .b-images img {
        height: 110%;
        width: auto;
    }
}

.b-images {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 411px;
    position: relative;
    overflow: hidden;
}

.b-big-image .b-image-text {
    line-height: 24px;
    padding-left: 30px;
    align-items: start;
    top: 67%;
}

.b-big-image .b-image-text-title {
    margin: 0;
    text-align: left;
    width: 100%;
}

.b-image-trashtext {
    color: #666666;
    font-family: "PT Sans";
    font-size: 14px;
    text-align: left;
    width: 614px;
}

.b-big-image {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    grid-column: span 2;
    grid-row: 4;
    overflow: hidden;
}

.b-big-image img {
    width: 100%;
}

.b-image-text-category {
    color: #C9A96E;
    margin-top: 15px;
}

.b-image-text-title {
    font-family: "PT Serif";
    font-size: 20px;
    width: 285px;
    text-align: center;
    margin-bottom: 10px;
}

.b-image-date {
    display: flex;
    flex-direction: row;
}

.img-text {
    font-family: "PT Serif";
    font-size: 12px;
    color: #666666;
}

.b-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 70%;
}

.box {
    box-sizing: border-box;
    border: 1px solid rgb(229, 229, 229);
    background: transparent;
}

.box img {
    width: 100%;
}

.b-About {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.b-a-title {
    margin-bottom: 20px;
}

.b-about-author {
    text-align: center;
    margin: 15px 0px;
    font-family: "PT Serif";
}

.b-p-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding: 18px 25px;
}

.b-p-menu a {
    transition: 0.3s;
}

.b-p-menu a:hover {
    color: #A2A2A2;
}

.H1-alt {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #C9A96E;
}

.H1 {
    text-align: center;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.H2-alt {
    margin: 10px 0px 14px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.H2 {
    text-align: center;
    font-size: 14px;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: italic;
    color: #B1B1B1;
}

.H3-alt {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-family: PT Serif;
    font-weight: 400;
    margin: 0 10px;
}

.H3 {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin: 15px 20px;
    color: #666666;
}

.b-a-text-link {
    margin: 15px 0px;
    display: flex;
    justify-content: center;
}

.b-a-link {
    font-family: "PT Serif";
    font-size: 12px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 40px 20%;
}

.footer-logo {
    margin-bottom: 20px;
}

hr {
    width: 100%;
    border: 1px solid #E5E5E5;
}

.footer-navigation {
    display: flex;
    gap: 30px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a {
    transition: color 0.3s;
}

a:hover {
    color: rgb(201, 169, 110);
}

.navigation {
    display: flex;
    gap: 30px;
}

.header-navigation {
    font-family: "PT Serif";
    font-size: 14px;
}

.footer-text {
    color: #666666;
    font-family: "PT Sans";
}

.circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.circle svg path {
    fill: #666666;
    transition: fill 0.3s;
}

.circle:hover {
    background-color: #C9A96E;
}

.circle:hover svg path{
    fill: #FFFFFF;
}

.background-image {
    background-image: url('src/Hero.svg');
    background-size: cover;
    background-position: center bottom 20px;
    background-attachment: fixed;
}

.background-gradient {
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.65) 100%);
}

.Hello-part {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.Vehicle {
    margin-top: 45%;
    font-family: "PT Sans";
    color: white;
}

.One-of-Saturn {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 40px;
    color: white;
    width: 560px;
}

.text-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 60px;
}

.by-rickie {
    display: flex;
    flex-direction: row;
}

.hello-text {
    font-family: PT Serif;
    font-size: 14px;
    color: white;
}

.By {
    color: #b4b4b4;
}

.b-a-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.filters-text {
    margin: 15px 0px;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    font-weight: 400;
    font-family: PT Serif;
}

.catalog-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px 0px;
}

.filter-title {
    margin-bottom: 4px;
}

.filter-text {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #666666;
    font-family: PT Serif;
}

.s-m-title {
    margin: 15px 90px;
    font-size: 16px;
    line-height: 21px;
    font-family: PT Serif;
    width: 100%;
    text-align: center;
    line-height: 100%;
}

.s-m-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 3px;
}

.s-m-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    background-color: #F8F9FA;
}

.s-m-media p {
    font-family: "PT Sans";
    color: #b4b4b4;
}

.f-t-box {
    margin-top: 20px;
}

.f-t-box-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.f-t-box-text p {
    font-family: "PT Serif";
    color: #666666;
    font-size: 14px;
    background-color: #F8F9FA;
    padding: 6px 15px;
}

.b-d-images {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.b-d-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-d-container p {
    font-family: "PT Serif";
    font-size: 24px;
    margin-bottom: 40px;
}

@media screen and (max-width: 980px) {
    .header-navigation {
        font-size: 28px;
    }

    .One-of-Saturn {
        font-size: 60px;
    }

    .Hello-part {
        margin-left: 10%;
        margin-right: 10%;
    }

    .hello-text {
        font-size: 32px;
    }

    .Vehicle {
        margin-top: 30%;
        font-size: 36px;
    }

    .b-photos {
        display: grid;
        grid-template-rows: repeat(7, auto);
    }

    .img-text {
        font-size: 24px;
    }

    .b-d-images {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .b-images {
        height: auto;
    }

    .b-image-text {
        top: 45%;
    }

    .b-images img {
        width: 100%;
    }

    .b-image-text-category {
        font-size: 32px;
    }

    .b-image-text-title {
        font-size: 32px;
        width: 100%;
    }

    .b-image-text {
        height: 200%;
        top: 60%;
    }

    .b-big-image .b-image-text {
        gap: 15px;
    }

    .b-big-image .b-image-text .b-image-trashtext {
        font-size: 24px;
        width: 100%;
        line-height: 40px;
    }

    .b-big-image .b-image-text {
        top: 60%;
    }

    .b-About {
        display: none;
    }

    .b-m-photo-container {
        margin: 0;
    }

    .b-main {
        margin-top: 60px;
        margin-bottom: 80px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .b-p-menu p {
        font-size: 24px;
    }

    .b-p-menu a {
        font-size: 24px;
    }

    .b-p-menu svg {
        width: 20px;
        height: 20px;
    }

    .b-p-menu div {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .b-d-container p {
        font-size: 30px;
    }
}