.box {
    display: flex;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
}

.first-number {
    display: flex;
    font-weight: bold;
    gap: 20px;
}

.second-item {
    height: 200px;
    width: 200px;
}

.double-block {
    width: 220px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.first-item {
    height: 100%;
    width: 100%;
}

.third-item {
    height: 100%;
    width: 100%;
}

.grid {
    margin: 20px;
    padding: 25px 25px 25px 50px;
    width: 30%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.fi {
    grid-column: span 3;
}

.ti {
    grid-column: span 2;
    grid-row: span 2;
}

.foi {
    grid-column: span 2;
}